node_modules/
dist/
dist-ssr/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.cache/
.temp/
.eslintcache

vite.svg

coverage/

repomix-output.xml 
prompt_antigravity_duyen.md 
Duyen_DATH.md
c7-8.pdf
chapter#5-6.pdf
nhat_ky.md
Duyen_DALT.md 
MauIdiom.md